@font-face {
    font-family: 'ClearSans';
    src: url('../fonts/clearsans-bold.eot');
    src: url('../fonts/clearsans-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/clearsans-bold.svg#ClearSans') format('svg'),
	url('../fonts/clearsans-bold.woff2') format('woff2'),
	url('../fonts/clearsans-bold.woff') format('woff'),
	url('../fonts/clearsans-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'ClearSans';
    src: url('../fonts/clearsans-regular.eot');
    src: url('../fonts/clearsans-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/clearsans-regular.svg#ClearSans') format('svg'),
    url('../fonts/clearsans-regular.woff2') format('woff2'),
    url('../fonts/clearsans-regular.woff') format('woff'),
    url('../fonts/clearsans-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}